/* Document-wide elements */
html {
  font-family: "Times New Roman", serif;
  line-height: 1.15;
}

body {
  background-color: pink;
  background-image: url(img/background.gif);
}

/* Sections */

/* These elements are new in HTML5. This makes sure they look okay in older browsers */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", serif;
}


/* Links */

/* Forms */

/* New media elements */

/* Horizontal Rule */

hr {
  background:url('../img/rainbow.gif');
  height: 1px;
  border: 0;
}
