/* Document-wide elements */
html {
  font-family: "Times New Roman", serif; // Change overall default font
  line-height: 1.15; // Set line height
}

body {
  background-color: pink; // More pink is more better
  background-image: url(img/background.gif); // More gifs are even more better
}

/* Sections */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Links */

/* Forms */
