/* Document-wide elements */
html {
  font-family: "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1;
}

body {
  background-color: pink;
  background-image: url('../img/background.gif');
}

/* Sections */
/* These elements are new in HTML5. This makes sure they look okay in older browsers */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

blockquote {
  background-color: white;
  width: 50%;
  padding: 10px;
  border: 5px solid red;
}

code, pre {
  background-color: white;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", serif;
  color: yellow;
}

/* Text */
b, strong {

}

i, em {

}


/* Links */

/* Forms */

/* New media elements */

/* Horizontal Rule */

hr {
  background:url('../img/rainbow.gif');
  height: 1px;
  border: 0;
}
